.vscode/
/uploads/*
node_modules/
vendor/
applications/junction/app/models/

sftp-config.json
composer.phar
.DS_Store
*.code-workspace
!/uploads/.gitkeep
*.env

!/applications/junction/app/models/webapp.js
