<ul
  class="nav nav-tabs justify-content-center"
  id="apiCodeReference"
  role="tablist"
>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="apiCodeReference-javascript-tab"
      data-bs-toggle="tab"
      data-bs-target="#javascript-tab-pane"
      type="button"
      role="tab"
      aria-controls="javascript-tab-pane"
      aria-selected="true"
    >Javascript</button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="apiCodeReference-curl-tab"
      data-bs-toggle="tab"
      data-bs-target="#curl-tab-pane"
      type="button"
      role="tab"
      aria-controls="curl-tab-pane"
      aria-selected="false"
    >cURL</button>
  </li>
</ul>
<div class="tab-content" id="apiCodeReferenceContent">
  <div
    class="tab-pane fade show active"
    id="apiCodeReference-javascript-tab-pane"
    role="tabpanel"
    aria-labelledby="javascript-tab"
    tabindex="0"
  ></div>
  <div
    class="tab-pane fade"
    id="apiCodeReference-curl-tab-pane"
    role="tabpanel"
    aria-labelledby="curl-tab"
    tabindex="0"
  >...</div>
</div>
<div class="d-none" {{did-insert this.highlightAll}}></div>