{{!-- Modal --}}
<div class="modal fade" id="blueprintAIPromptModal" tabindex="-1" aria-labelledby="blueprintAIPromptModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fst-italic fs-5" id="blueprintAIPromptModalLabel">Describe your project</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      	{{{this.types.json.modules.webapp.implementation_summary.html}}}
      </div>
      <div class="modal-footer d-flex align-items-center justify-content-end p-0">
        <div class="d-flex align-items-center justify-content-end">
          <button type="button" data-bs-dismiss="modal" class="btn btn-lg btn-primary ms-2">Start Now &rarr;</button>
        </div>
      </div>
    </div>
  </div>
</div>